* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #050a12;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #040810;
}

::-webkit-scrollbar-thumb {
  background: #0d2035;
  border-radius: 2px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background: #0d2035;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}